* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #dbdbdb;
    text-decoration: none;
}

header {
    padding: 15px 25px;
    background-color: #07464d;
    opacity: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 26px;
    color: #dbdbdb;
    margin: 0;
    display: inline;
}

header a {
    color: #dbdbdb;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin: 0 15px;
}

 
    }

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

.hero {
    background-image: url("https://images.wallpapersden.com/image/download/abstract-art-2020_a21raGuUmZqaraWkpJRraWWtZmZoaw.jpg");
    height: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 70%;
}




/*HERO STYLE ENDS*/


.main {
    background-color: #07464d;
    display: flex;
    flex-flow: column;
    padding-top: 5px;
    justify-content: center;


}

.title2 {
    font-size: 40px;
    text-decoration: underline;
    float: left;
    flex-grow: 1;
    width: 25%;
    border-right: white;
    border-width: 5px;
    border-right-style: solid;
    flex-direction: column;

}

p {
    display: flex;
    float: right;
    margin-left: 33%;
    width: 75%;
    padding-right: 10%;
    


}

.container {

    display: flex | inline | grid;
    margin-left: 33%;
    align-items: stretch | flex-start | flex-end;
    padding: 1%;
    flex: wrap;
}

.imagesw {
    background-color: brown;

}

.img1 {
   display: flex;
   margin-bottom: 25px;


}

.img2 {
    flex-flow: column;
    flex-grow: 2;


}

.img3 {
    flex-shrink: 1;

 
}


.p3 {
    display: flex;
    flex: space-between;
    word-spacing: 30px;
    
}






footer {
    background: #07464d;
    width: 100%;
    padding: 40px 35px;
    text-emphasis: underline;

}
